<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <% if((typeof pageTitle !== 'undefined')){ %>
        <title><%=pageTitle%></title>
    <%}else{%>
        <title></title>
    <%}%>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel='stylesheet'  href='/stylesheets/style.css'>

    <%- defineContent('header')%>

</head>
<body>
    
    <%- defineContent('body')%>

    <%- defineContent('footer')%>

</body>
</html>