@charset "UTF-8";
@font-face {
    font-family: AVENIRROMAN;
    src: url(../image/christmas/AVENIRROMAN.TTF) format("truetype");
}

@font-face {
    font-family: BEAUTIFULMESS;
    src: url(../image/christmas/BEAUTIFULMESS.TTF) format("truetype");
}

@font-face {
    font-family: DIDOTBOLD;
    src: url(../image/christmas/DIDOTBOLD.TTF) format("truetype");
}

@font-face {
    font-family: DIDOT;
    src: url(../image/christmas/DIDOT.TTF) format("truetype");
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.claer-float {
    &:after {
        clear: both;
        content: '';
        display: block;
    }
}

.christmas-fuild {
    margin-top: 54px;
}

.christmas-top {
    position: relative;
    img.top-bg {
        width: 100%;
        display: block;
    }
    img.top-t {
        position: absolute;
        bottom: 170px;
        left: 19%;
        width: 27%;
        display: block;
    }
}

.party-con {
    background: url(../image/christmas/christmas-bg2.png) no-repeat;
    background-size: cover;
}

.winter-con {
    background: url(../image/christmas/christmas-bg3.png) no-repeat;
    background-size: cover;
}

.gift-con {
    background: url(../image/christmas/christmas-bg4.png) no-repeat;
    background-size: cover;
}

.christmas-con {
    width: 100%;
    padding: 110px 16.875% 85px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    .con-t {
        text-align: center;
        h3 {
            margin: 0;
            padding: 0;
            img {
                width: 64%;
            }
        }
        p {
            margin: 0;
            padding: 0;
            font-family: DIDOTBOLD;
            font-size: 26px;
            text-transform: uppercase;
            color: #fff;
        }
    }
    .con-dress {
        margin-top: 64px;
    }
    .dress-left {
        width: 44.2%;
        .l-goods {
            width: 100%;
            box-sizing: border-box;
            padding: 20px;
            background: #fff;
            img {
                width: 100%;
            }
        }
        h3 {
            margin-top: 75px;
            text-align: center;
            text-transform: uppercase;
            a {
                font-family: AVENIRROMAN;
                font-size: 28px;
                color: #fff;
                text-decoration: none;
                display: block;
            }
        }
    }
    .dress-right {
        width: 53%;
        .t-left,
        .t-right {
            width: 47.4%;
            a {
                display: block;
                background: #fff;
                box-sizing: border-box;
                padding: 20px;
            }
            img {
                width: 100%;
            }
        }
        .goods-info {
            margin-top: 15px;
            width: 100%;
            background: #1f1f1f;
            text-align: center;
            font-family: DIDOTBOLD;
            font-size: 14px;
            color: #fff;
            padding: 15px;
            box-sizing: border-box;
            span {
                display: block;
            }
            span.name {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                -webkit-text-overflow: ellipsis;
                margin-bottom: 3px;
            }
        }
        .r-goods-b {
            position: relative;
            margin-top: 30px;
            font-family: DIDOTBOLD;
            font-size: 16px;
            color: #1f1f1f;
            img {
                width: 100%;
            }
            .b-goods {
                width: 22%;
                span {
                    display: block;
                }
                a {
                    text-decoration: none;
                    color: #1f1f1f;
                }
                span.name {
                    border-bottom: 1px solid #1f1f1f;
                    padding-bottom: 7px;
                    margin-bottom: 7px;
                }
                span.price {
                    font-family: AVENIRROMAN;
                    font-weight: bold;
                }
            }
            .b-left {
                position: absolute;
                left: 8%;
                bottom: 60px;
                text-align: right;
            }
            .b-right {
                position: absolute;
                right: 3%;
                bottom: 180px;
                text-align: left;
            }
        }
    }
}

.winter-rtl {
    direction: rtl;
    .float-left {
        float: right;
    }
    .float-right {
        float: left;
    }
}

.christmas-con.winter-rtl {
    .dress-left {
        h3 {
            a {
                direction: ltr;
                color: #1f1f1f;
            }
        }
    }
}

.gift-con {
    .con-t {
        margin-bottom: 30px;
        p {
            font-family: DIDOT;
        }
    }
    .gift-button {
        width: 32.23%;
        margin: 0 auto;
        a {
            width: 100%;
            height: 60px;
            line-height: 60px;
            display: inline-block;
            background: url(../image/christmas/christmas-bg5.png);
            background-size: contain;
            font-family: Arial;
            font-size: 28px;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            color: #000;
            font-weight: bold;
        }
    }
}

.style-gallery-con {
    width: 100%;
    padding: 100px 8.6% 200px;
    background: url(../image/christmas/christmas-bg6.png) no-repeat;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    color: #1f1f1f;
}

.style-gallery-t {
    .hr-left {
        width: 31%;
        a {
            display: block;
            box-sizing: border-box;
            padding: 15px;
            background: #fff;
            img {
                width: 100%;
            }
        }
        p {
            position: relative;
            font-family: BEAUTIFULMESS;
            font-size: 120px;
            text-align: center;
            margin: 40px 0 0;
            em {
                position: absolute;
                left: 10%;
                bottom: 10px;
                display: block;
                width: 80%;
                border-bottom: 1px solid #1f1f1f;
                transform: rotate(-10deg);
                -webkit-transform: rotate(-10deg);
                -moz-transform: rotate(-10deg);
                -ms-transform: rotate(-10deg);
                -o-transform: rotate(-10deg);
            }
        }
    }
    .hr-right {
        width: 67%;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li{
            	width: 32%;
            	float: left;
            	margin-right: 2%;
            	margin-bottom: 20px;
            	&:nth-child(3n){
            		margin-right: 0;
            	}
            	img{
            		width: 100%;
            	}
            }
        }
    }
}

.style-gallery-b {
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			float: left;
			width: 15.2%;
			margin-right: 1.76%;
			&:last-child{
				margin-right: 0;
			}
			img{
				width: 100%;
			}
		}
	}
}
