@font-face {
    font-family: 'iconfont';
    /* project id 92762 */
    src: url('//at.alicdn.com/t/font_1477280343_5458317.eot');
    src: url('//at.alicdn.com/t/font_1477280343_5458317.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1477280343_5458317.woff') format('woff'), url('//at.alicdn.com/t/font_1477280343_5458317.ttf') format('truetype'), url('//at.alicdn.com/t/font_1477280343_5458317.svg#iconfont') format('svg');
}

.p-outfit-index {
    img {
        width: 100%;
    }
    .row {
        margin: 0 -15px;
    }
    .col-xs-4 {
        padding: 15px;
    }
    .vertical-wrap {
        height: 0;
        padding-bottom: 100%;
        overflow: hidden;
    }
}

.p-outfit-list {
    img {
        width: 100%;
    }
    .outfit-banner {
        margin-bottom: 15px;
    }
    .row.list-con {
        margin-right: -15px;
        margin-left: -15px;
    }
    .list-img {
        padding: 20px 15px;
    }
    .vertical-wrap {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        &:hover {
            .hover-div {
                opacity: 1;
            }
        }
    }
    .hover-div {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 68px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 24px;
        line-height: 68px;
        pointer-events: none;
        opacity: 0;
        transition: opacity .5s;
    }
    .outfit-lastest {
        .last-title {
            position: relative;
            margin-bottom: 15px;
            a {
                position: absolute;
                bottom: 0;
                right: 50px;
                font-size: 16px;
                text-decoration: underline;
            }
        }
        h3 {
            text-align: center;
            font-weight: bold;
            font-size: 30px;
        }
    }
    .lastest-swiper {
        position: relative;
        padding: 0 50px;
        .swiper-button-prev,
        .swiper-container-rtl .swiper-button-next {
            left: 0;
        }
        .swiper-button-next,
        .swiper-container-rtl .swiper-button-prev {
            right: 0;
        }
        .vertical-wrap {
            position: relative;
            height: 0;
            padding-bottom: 100%;
            overflow: hidden;
            cursor: pointer;
            .outfit-black-mask {
                position: absolute;
                width: 100%;
                opacity: 0;
                transition: opacity 0.5s;
                top: 0;
                left: 0;
                pointer-events: none;
            }
            .mask-p {
                position: absolute;
                width: 80%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff!important;
                text-align: center;
                opacity: 0;
                transition: opacity 0.5s;
                pointer-events: none;
                h5 {
                    font-size: 24px;
                    font-weight: bold;
                }
            }
            &:hover {
                .outfit-black-mask {
                    opacity: 0.2;
                }
                .mask-p {
                    opacity: 1;
                }
            }
        }
    }
    .outfit-mask {
        z-index: 9999;
        background: #000;
        opacity: 0.5;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .outfit-popup {
        z-index: 99999;
        position: fixed;
        width: 90%;
        max-width: 1050px;
        top: 25%;
        left: 50%;
        margin-left: -525px;
        padding: 15px;
        background-color: #fff;
        h3 {
            margin-top: 0;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 15px;
        }
        .line-1 {
            padding-bottom: 15px;
            border-bottom: 1px solid #e5e5e5;
            .swiper-pagination-fraction{
            	bottom: auto;
			    top: 10px;
			    left: auto;
			    right: 10px;
			    width: 45px;
			    background: #fff;
			    opacity: 0.65;
			    height: 23px;
			    line-height: 23px;
			    font-size: 12px;
            }
        }
        .pd-right{
        	.goodprice{
			    font-size: 30px;
			    font-weight: bold;
			    margin-right: 15px;
			    color: #d53333;
    			font-family: Arial,Helvetica,sans-serif;
        	}
        	.submit-btn{
        		margin-bottom: 0;
        		 .she-btn-black,.she-btn-white{
    		 	    width: 85%;
				    height: 45px!important;
				    line-height: 45px!important;
				    margin-bottom: 10px;
				    font-family: Arial;
        		 }
        	}
        	.goods-details-link{
        		a{
        			text-decoration: underline;
        		}
        	}
        }
        .line-2 {
            margin-top: 15px;
        }
        .line2-wrap {
            float: left;
            width: 12.5%;
            padding: 0 10px;
        }
    }
}
